.Discount .heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.Discount h4 {
  font-weight: 400;
}
.Discount .box span {
  color: #ffa007;
  font-size: 15px;
  font-weight: 500;
}
.Discount .box img {
  width: 100%;
  height: 100%;
}